# Python
__pycache__/
*.pyc
*.log

# Virtual environment
venv/
.env

# Model and data files that are too large to commit
# If these are large, use Git LFS instead.
# If they are small, delete these lines to commit them.
*.pkl
*.json

# VS Code
.vscode/

# Jupyter Notebook files
.ipynb_checkpoints/
